body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.search-bar {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
  text-align: center;
  background: #666;
  margin: 0 auto;
}

.search-bar,
label {
  margin-top: 2rem;
  color: white;
  font-size: 4rem;
}

form,
button {
  margin: 10px 0;
}

input {
  margin-left: 0.8rem;
  width: 60%;
}

nav {
  border-bottom: 1px solid #666;
  margin-bottom: 3rem;
}

li {
  color: white;
  list-style: none;
  margin-left: 1rem;
  font-size: 2rem;
}

.movie-list {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.movie,
.movie-card,
.movie-card-img {
  width: 22rem;
  height: 22rem;
  margin: 17px 0 17px 37px;
}

.movie {
  margin: 20px 20px 20px 0;
  width: 33rem;
  height: 40rem;
  background: #272323;
}

.movie-title {
  color: white;
  font-size: 2.2rem;
  text-align: center;
}

.movie-details {
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 2rem;
  color: white;
}

.current-movie-container {
  background: rgb(34, 33, 33);
  position: relative;
  height: 100%;
  width: 40%;
  margin: 1rem auto;
  text-align: center;
}

.current-movie-container {
  color: white;
  padding: 1rem;
  font-size: 2rem;
}

.current-movie-img {
  text-align: center;
  padding: 10px;
}

.current-movie-title {
  font-size: 3rem;
  color: black;
}

.current-movie-stats {
  display: flex;
  flex-direction: row;
}

.current-movie-stats-center {
  margin: 0 auto;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 32.4rem;
}

.page-list,
.page-list-pages,
.page-number-active {
  color: blue;
  text-decoration: underline;
  border: none;
  padding: 0;
}

.page-list,
.page-list-pages,
.page-number- {
  color: white;
  text-decoration: none;
  border: none;
  margin-right: 1px;
  padding: 0;
}

.current-movie-buttons,
.current-movie-imdb,
a {
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  padding: 0.5rem;
}
