body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.search-bar {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
  text-align: center;
  background: #666;
  margin: 0 auto;
}

input {
  margin-left: 0.8rem;
  width: 60%;
}

.search-bar,
label {
  color: white;
  font-size: 4rem;
}

nav {
  border-bottom: 1px solid #666;
  margin-bottom: 3rem;
}

nav,
li {
  height: 3rem;
  color: white;
  list-style: none;
  margin-left: 1rem;
  font-size: 2rem;
}

.movie-list {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.movie,
.movie-card,
img {
  width: 22rem;
  height: 22rem;
  margin: 17px 0 17px 37px;
}
.movie {
  margin: 20px 20px 20px 0;
  width: 33rem;
  height: 37rem;
  background: #272323;
}

.movie-title {
  color: white;
  font-size: 2.2rem;
  text-align: center;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 32.4rem;
}

.page-list,
a {
  color: white;
  text-decoration: none;
}

.page-list,
.page-number-active {
  color: blue;
  text-decoration: underline;
}
